.user {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}

.user__pic {
  border-radius: 50%;
  width: 50px;
}

.user__details {
  display: none;
}

.user:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* not small devices */
@media (min-width: 576px) {
  .user__details {
    display: block;
    padding: 0 0 0 1rem;
    text-align: left;
  }
  .user__details-name {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
  }
}